<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IC - FLEET</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body style="padding-top: 0">

<table class="table">
    <thead>
    <tr>
        <th scope="col">Contract ID</th>
        <th scope="col">Nr de inmatriculare</th>
        <th scope="col">Nume client</th>
        <th scope="col">Nume partener</th>
        <th scope="col">Creat in data</th>
        <th scope="col">Status piese</th>
        <th scope="col">Facturat</th>
        <th scope="col"><button style="border: none"><i class="fas fa-file-pdf"></i></button></th>
    </tr>
    <tr>
        <th scope="col">Contract ID</th>
        <th scope="col">Nr de inmatriculare</th>
        <th scope="col">Nume client</th>
        <th scope="col">Nume partener</th>
        <th scope="col">Creat in data</th>
        <th scope="col">Status piese</th>
        <th scope="col">Facturat</th>
        <th scope="col"><button style="border: none"><i class="fas fa-file-pdf"></i></button></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/contract.js"></script>
</html>



