<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IC - FLEET</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

</head>
<body style="padding-top: 0">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 0">
    <a class="navbar-brand" href="/home">Inter Cars <br>Fleet Management</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user">IC - User <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer">Client</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/partner">Partener</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin-right: 200px">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div class="personal-data" style="margin-right: 10px; opacity: 50%; size: 50px; padding: 5px">
            logged in as:
            Andrei Romanciuc
            id: 1
        </div>
        <form method="get" action="/logout">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</nav>
<div style="margin-left: 15px; margin-top: 10px" id="container">
    <button type="button" class="btn btn-outline-primary" id="unfinished-contracts-btn">Contracte deschise</button>
    <button type="button" class="btn btn-outline-success" id="new-contract-btn">Parc auto</button>
    <button type="button" class="btn btn-outline-info" id="new-customer-btn">Inregistrare auto</button>
    <button type="button" class="btn btn-outline-warning">Lista clienti</button>
</div>

<div id="table-display">

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/customer.js"></script>
</html>



